@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    overflow-x: hidden;
}
#logo-container{
    width: 100%;
    display: flex;
    justify-content:center;
    margin: 40px 40px;
}

#images-container>a>img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 25%;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: 1fr;
    grid-column-gap: 9em;
    grid-row-gap: 10px;
    grid-column-start: auto;
    justify-content: space-evenly;
    text-align: center;
}
#images-container{
    margin-top: 30px;
    width: 300px;
    height: 320px;
    border: 2px solid #b12a5b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

#images-container>a>div{
    border-top: 2px solid #b12a5b;
    width: 100%;
   margin-top:5px;
   border-radius: 25%; 
}
#images-container>a>div>p{
/*     font-family: 'Trade Winds' ; */
    font-family: 'Roboto Mono' ;
}

form{
    display: flex;
    justify-content: center;
}

input{
  -webkit-appearance: none;
    background: transparent;
    border: none;
    margin-left: 50px;
    border-bottom: 2px solid #b12a5b;
    border-right: 2px solid #b12a5b;
    border-bottom-right-radius: 18%;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label , button {
	cursor: pointer;
}
.inputfile + label , button {
  color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #b12a5b;
    padding: 20px;
    border-radius: 5px;
    border: none;
    transition: all 0.4s ease 0s;
    line-height: 1px;
    margin-left: 20px;
  display: inline-block;
}
.inputfile:hover + label:hover  , button:hover {
    background: transparent;
    border: 2px solid black;
    letter-spacing: 3px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}
#modal-mask{
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: grey;
    width: 100%;
    height: 100vh;
    z-index: 1;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    
}
#modalShow{
    border: 10px solid #f5576c;
background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    overflow: scroll;
    border-radius: 15%;
}

#modal-img-container{
    display: flex;
    justify-content: center;
}
#modal-img{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    object-fit: cover;
    border-radius: 25%;
/*     height: 40%; */
    
}
#image-data{
    flex-direction:column;
    text-align: center;
    margin-bottom: 10px;
      border-top: 2px solid #b12a5b;
  border-bottom: 2px solid #b12a5b;
}
#image-data>.uploaded{
   width:inherit;
   border-radius: 25%;
    
}
#image-data>h1{
    border: 0;
    border-bottom: 2px solid #b12a5b;
    border-radius: 13%;
    padding-bottom: 20px;
    border-style: dotted;
}
.uploaded{
    font-size:12px; 
    border: 0;
    border-top: 2px solid #b12a5b;
    border-style:dotted;
    width:max-content;
    padding-top: 10px;
    

}
#close{
    position: absolute;
    width: 40px;
    top: 5%;
    left: 90%;
    /*! text-align: end; */
    font-size: large;
    cursor: pointer;
}
#moreImages{
    display: flex;
    justify-content: center;
    margin: 30px 30px;
}
#commentsFromUsers{
    border: 1px solid #b12a5b;
    margin: 6px;
    border-radius: 30px;
}
#commentsFromUsers:hover{
filter: brightness(0.3);
}
#commentsFromUsers>p{
    margin-left: 30px;
}
#comment-section>input{
    margin-left: 0px;
}
#comment-section>label{
    margin-left: 50px;
    margin-right: 10px;
}
p, label,h1,h2, input{
    font-family: 'Roboto Mono' ;
    color: white;
    letter-spacing: 3px;
    
}
/* input{
    font-size: large;
} */
a{
    text-decoration: none;
}
.comment-total{
    border: 1px solid #b12a5b;
    border-style: dashed;
    border-radius: 3%;
    padding: 10px;
    margin-top: 20px;
}
#error-comments{
color: yellow;
text-align: center;
}